FEATURES {
    STARTADDRESS: default = $1000;
}
SYMBOLS {
    __STACKSIZE__:  type = weak, value = $0800; # 2k stack
    __STACKSTART__: type = weak, value = $8000;
    __ZPSTART__:    type = weak, value = $0080;
}
MEMORY {
    ZP:   file = "", define = yes, start = __ZPSTART__, size = $001F;
    MAIN: file = %O,               start = %S,          size = __STACKSTART__ - __STACKSIZE__ - %S;

    BANK7: type = ro, start = $C000, size = $4000-16, file = "kernel.rom", fill = yes;
    ORIXVEC7:         start = $FFF0, size = 10      , file = "kernel.rom", fill = yes;
    CPUVEC7:          start = $FFFA, size = 6       , file = "kernel.rom", fill = yes;
    INCL: file = "kernel_inc.inc", start=$0000, size = $FFFF;

 }
SEGMENTS {
    ZEROPAGE: load = ZP,   type = zp;
    STARTUP:  load = MAIN, type = ro, define  = yes, optional = yes;
    LOWCODE:  load = MAIN, type = ro, define  = yes, optional = yes;
    ONCE:     load = MAIN, type = ro, define  = yes, optional = yes;
    CODE:     load = MAIN, type = rw, define  = yes, optional = yes;
    RODATA:   load = MAIN, type = rw, define  = yes, optional = yes;
    DATA:     load = MAIN, type = rw, define  = yes, optional = yes;
    BSS:      load = MAIN, type = bss, define  = yes, optional = yes;

    SIGNATURE:   load = MAIN, type = ro, define = yes, optional = yes;
    INCLUDE: load = INCL, optional = yes;
    # BANK8: load = BANK8, type = ro;
    # ORIXVECT8:    load = ORIXVEC8, type = ro, define = yes, optional = yes;
    # CPUVECT8:     load = CPUVEC8,  type = ro, define = yes, optional = yes;

    BANK7:        load = BANK7   , type = ro, define = yes;
    ORIXVECT7:    load = ORIXVEC7, type = ro, define = yes;
    CPUVECT7:     load = CPUVEC7,  type = ro, define = yes;

    # BANK0: load = BANK0, type = ro;
    # ORIXVECT0:    load = ORIXVEC0, type = ro, define = yes, optional = yes;
    # CPUVECT0:     load = CPUVEC0,  type = ro, define = yes, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}

